*.log
/.vagrant/
/dist/
node_modules/
/.tmp/
/coverage/
usedConstants*.txt
usedMemory*.txt
.eslintcache
.cache/
hosts_save
.vscode
.idea
package-lock.json
**/.DS_Store
**/.env
packages/**/pnpm-lock.yaml
packages/**/dist
packages/e2e/**/test-results/
packages/e2e/**/playwright-report/
packages/e2e/**/.features-gen/
packages/e2e/**/.auth/
apps/**/dist
.terraform/
/build/
.opt-in
.opt-out
/*.csv
chromeUserDataDirectory/
__pycache__/
*.zip
.run/
